.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 5vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  display: flex;
  flex-direction : row;
}

.spacing-display {
  margin-right: 1%;
}

.App-link {
  color: #61dafb;
}

.result-container{
  margin-bottom: 0.25%
}

.display-container {
  height: 95vh;
  overflow: auto;
}

.spacing-input{
  margin-bottom: 1%
}

input {
  border : none;
  box-shadow: none;
  outline: none
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
